@use '../../scss' as *;

.services{
    @include flex(unset, unset);
    flex-direction: column;
    height:100vh;
    width:100%;
    background-color: #f7f7f7;
    border-bottom: 0.5px solid rgb(148, 140, 140);

    @include mobile{
        height:210vh;
    }

    .rows{
        @include flex(center, center);
        align-self: end;
        height:100%;
        width:90%;
        flex-direction: row;
        flex-wrap: wrap;

        @include mobile{
            align-self: center;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        
        .single{
            flex: 1 1  30%;
            max-width: 25%;
            height: 40%;
            margin:10px;
            background-color: #fff;
            border: 1px solid rgba(214,214,214,.8);
            margin-bottom: 10px;
            padding: 25px 24px;
            text-align: center;
            transition: all .15s ease-in-out;

            @include mobile{
                height:20%;
                max-width:100%;
            }

            span{
                color: #dc3545;
                font-size: 3rem;   
            }

            h6{
                color: #333;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: -.5px;
                margin-bottom: 12px;

                @include mobile{
                    font-size: 16px;
                }
            }

            p{
                color: #222;
                font-weight: 300;
                font-size: 15ox;
                text-align: center;
            }
        }
    }
    
    .header{
        @include flex(center, center);
        width:50%;
        flex-direction: column;
        height: 250px;
        margin-left: 1rem;
    
        @include mobile{
            margin:20px;
        }
    
        span{
            font-size: 40px;
            font-weight: 800;
            letter-spacing: -.25px;
            line-height: 100%;
            color: #222;
            margin-top: 1rem;
    
            @include mobile{
                font-size: 30px;
            }
        }
    
        p{
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 1rem;
            margin-top: 1rem;
            margin-left: 1rem;
            color:#222;
    
            @include mobile{
                font-size: 17px;
                margin-left: 0.5rem;
            }
        }
    }
}

